/*

Custom Changes to the pure-main.css
Edited by Brian Menasco
Last Updated: May 24th 2014

*/

.name {
	color: #368DDA;
}
body {
	color: #fff;
	text-shadow: 0 2px 3px rgba(0,0,0,1);
	background: #202020;
	background-image:url('../images/dark_wood.png');
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.pure-button,
.pure-button:hover,
.pure-button:focus {
	-webkit-transition: .5s;
	-moz-transition: .5s;
	transition: .5s;
	text-shadow: none; /* Prevent inheritence from `body` */
	background-color: #fff;
	border: 1px solid #fff;
	font-weight: bold;
	font-size: 18px;
	border-radius: 6px;
}
.edit {
	float: right;
	margin: 1%;
	padding: 3px 5px 5px 5px;
}
.outline-inverse {
	color: #fff;
	background-color: transparent;
	border-color: #368DDA
}

.outline-inverse:hover, .btn-outline-inverse:focus, .btn-outline-inverse:active {
	color: #368DDA;
	text-shadow: none;
	background-color: #fff;
	border-color: #fff;
	font-size: 18px;
}
.lead {
	font-size: 21px;
}
.home-heading {
	text-align: center;
}
.construction {
	margin-top: 20%;
	margin-bottom: 20%;
}
.lead {
	text-align: center;
}
.header {
	color: white;
	border-bottom: 1px solid #368DDA;
}
.main, .signIn {
	text-align: center;
	height: auto;
	max-width: 650px;
	margin-left: auto;
	margin-right: auto;
}
.signIn {
	margin-top: 10%;
	margin-bottom: 10%;
}
.signUp {
	margin-right: 5%;
	margin-top: 2%;
}
.pure-form-aligned .pure-controls {
	margin: 0;
}
.pure-form input:not([type]):focus,
.pure-form input[type=password]:focus,
.pure-form input[type=email]:focus,
.pure-form input[type=search]:focus,
.pure-form input[type=text]:focus,
.pure-form-stacked textarea
.pure-form textarea:focus {
	border-color: #368DDA;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #368DDA;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #368DDA;
}
.pure-form input:not([type]),
.pure-form input[type=password],
.pure-form input[type=email],
.pure-form input[type=search],
.pure-form input[type=text],
.pure-form-stacked textarea,
.pure-form-stacked textarea {
	color: #fff;
	background-color: transparent;
	border-color: #368DDA;
	border: 1px solid #368DDA;
	box-shadow: inset 0 0 0 #368DDA;
}
.pure-form input[type=email] {
	padding: .5em .6em;
	display: inline-block;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
#menu {
	background: black;
}
.mastfoot {
	color: rgba(255,255,255,.5);
	position: relative;
	bottom: 0;
	letter-spacing: 0;
	border-top: 1px solid #368DDA;
	margin-bottom: 2%;
}
.mastfoot .inner {
	font-size: 14px;
	text-align: center;
}
.mastfoot > .inner > p > a:hover {
	color: #368DDA;
}
.mastfoot > .inner > a:hover {
	color: #368DDA;
}
a {
	-webkit-transition: .25s;
	-moz-transition: .25s;
	transition: .25s;
	color: #ccc;
}
.tab-content > .tab-pane {
	display: none;
}
.tab-content > .active {
	display: block;
}
.newEntry {
	margin-bottom: 5%;
	text-align: left;
}
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 90%;
	max-width: 650px;
}
.alertPopup{
	max-width: 650px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alert {
	position: absolute;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	text-shadow: 0 0 0;
	text-align: center;
	z-index: 50;
}
.alert h4 {
	margin-top: 0;
	color: inherit;
}
.alert .alert-link {
	font-weight: bold;
}
.alert > p,
.alert > ul {
	margin-bottom: 0;
}
.alert > p + p {
	margin-top: 5px;
}
.alert-dismissable {
	padding-right: 35px;
}
.alert-dismissable .close {
	position: relative;
	top: -2px;
	right: -21px;
	color: inherit;
}
.alert-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}
.alert-success hr {
	border-top-color: #c9e2b3;
}
.alert-success .alert-link {
	color: #2b542c;
}
.alert-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
.alert-info hr {
	border-top-color: #a6e1ec;
}
.alert-info .alert-link {
	color: #245269;
}
.alert-warning {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}
.alert-warning hr {
	border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
	color: #66512c;
}
.alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}
.alert-danger hr {
	border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
	color: #843534;
}
.close {
	float: right;
	font-size: 21px;
	font-weight: bold;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .2;
}
.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	opacity: .5;
}
button.close {
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
}
.about {
	text-align: center;
	height: auto;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
}
.icon {
	width: 25%;
	height: 140px;
	font-size: 700%;
	-webkit-transition: .5s;
	-moz-transition: .5s;
	transition: .5s;
}
.icon:hover {
	text-shadow: 0 0 15px #368DDA;
	font-size: 710%;
}
.aboutCol{
	width: 46%;
	text-align: left;
	margin: 2%;
}
.navIcon {
	font-size: 150%;
	display: inline-block;
	width: 20%;
	position: relative;
	margin-left: -5%;
	margin-right: 3%;
	top: 3px;
	text-align: center;
}
.deleteIcon {
	color: orangered;
	font-size: 700%;
}
.delete {
	margin-top: 10%;
	margin-bottom: 10%;
}
.entryIcon  {
	margin-right: 6px;
	font-size: 150%;
	position: relative;
	top: 3px;
}
.news {
	text-align: center;
	height: auto;
	max-width: 900px;
	margin-left: auto;
	margin-right: auto;
	text-align: left;
}
.commit {
	margin-bottom: 5%;
}
.changes {
	float: right;
}
.changeIcon {
	font-size: 125%;
	margin-right: 5%;
	position: relative;
	top: 3px;
}
.commit-avatar {
	position: relative;
	top: 8px;
	border-radius: 3px;
}
.settingsHeading {
	text-align: center;
}
.settings {
	text-align: center;
	height: auto;
	max-width: 650px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10%;
}
.admin {
	text-align: center;
	height: auto;
	max-width: 1050px;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10%;
}
.userTable {
	max-width: 1050px;
}
.pure-table-horizontal td {
	border-bottom: 1px solid #368DDA;
}
.pure-table {
	border: 1px solid #368DDA;
	text-shadow: none;
}
.pure-table thead{
	background: transparent;
	color: #fff;
	vertical-align: middle;
}
.pure-table-horizontal td,
.pure-table-horizontal th {
	border-bottom: 1px solid #368DDA;
}
.pure-table tbody{
	border-top: 1px solid #368DDA;
}
.pure-table td input {
	color: #fff;
	background-color: transparent;
	border-color: #368DDA;
	border: 1px solid #368DDA;
	box-shadow: inset 0 0 0 #368DDA;
	padding: .5em .6em;
	border-radius: 4px;
	width: 100%;
}
td #userID {
	width: 20% !important;
	text-align: center;
}
.pure-table td input:focus{
	border-color: #368DDA;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #368DDA;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #368DDA;
}
.pure-form input:not([type]):required,
.pure-form input[type=password]:required,
.pure-form input[type=email]:required,
.pure-form input[type=text]:required,
.pure-form input[type=search]:required,
.pure-form-stacked textarea:required,
.pure-form-stacked textarea:required,
.pure-table td input:required {
	background: url('../images/red_asterisk.png') no-repeat 98% center;
}
.pure-form input:not([type]):required:valid,
.pure-form input[type=password]:required:valid,
.pure-form input[type=email]:required:valid,
.pure-form input[type=text]:required:valid,
.pure-form input[type=search]:required:valid,
.pure-form-stacked textarea:required:valid,
.pure-form-stacked textarea:required:valid,
.pure-table td input:required:valid {
	background: url('../images/valid.png') no-repeat 98% center;
	box-shadow: 0 0 5px #2ECC71;
	border-color: #2ECC71;
}
.pure-form input:not([type]):required:invalid,
.pure-form input[type=password]:required:invalid,
.pure-form input[type=email]:required:invalid,
.pure-form input[type=text]:required:invalid,
.pure-form input[type=search]:required:invalid,
.pure-form-stacked textarea:required:invalid,
.pure-form-stacked textarea:required:invalid,
.pure-table td input:required:invalid {
	background: url('../images/invalid.png') no-repeat 98% center;
	box-shadow: 0 0 5px #E74C3C;
	border-color: #E74C3C
}
.form_hint {
	background: #E74C3C;
	border-radius: 3px 3px 3px 3px;
	color: white;
	margin-left:8px;
	padding: 1px 6px;
	z-index: 999; /* hints stay above all other elements */
	position: absolute; /* allows proper formatting if hint is two lines */
	display: none;
}
/*.pure-table input:focus, .pure-table textarea:focus {
	width: 200%;
}
input:focus + .form_hint {display: inline;}
input:required:valid + .form_hint {background: #28921f;}
input:required:valid + .form_hint::before {color:#28]921f;}
.pure-table input, .pure-table textarea {
	-moz-transition: width .25s; 
	-webkit-transition: width .25s; 
	-o-transition: width .25s;
	transition: width .25s;
}*/