/*

Custom Changes to the pure-main.css
Edited by Brian Menasco
Last Updated: May 24th 2014

*/

.name {
	color: #368DDA;
}
body {
	color: #fff;
	text-shadow: 0 2px 3px rgba(0,0,0,1);
	background: #202020; 
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.pure-button,
.pure-button:hover,
.pure-button:focus {
	text-shadow: none; /* Prevent inheritence from `body` */
	background-color: #fff;
	border: 1px solid #fff;
	font-weight: bold;
	font-size: 18px;
	border-radius: 6px;
}
.outline-inverse {
	color: #fff;
	background-color: transparent;
	border-color: #368DDA
}

.outline-inverse:hover, .btn-outline-inverse:focus, .btn-outline-inverse:active {
	color: #368DDA;
	text-shadow: none;
	background-color: #fff;
	border-color: #fff;
	font-size: 18px;
}
.lead {
	font-size: 21px;
}
.home-heading {
	text-align: center;
}
.construction {
	margin-top: 20%;
	margin-bottom: 20%;
}
.lead {
	text-align: center;
}
.header {
	color: white;
	border-bottom: 1px solid #368DDA;
}
.main, .signIn {
	text-align: center;
	height: auto;
	max-width: 650px;
	margin-left: auto;
	margin-right: auto;
}
.signIn {
	margin-top: 10%;
	margin-bottom: 10%;
}
.signUp {
	margin-right: 5%;
	margin-top: 2%;
}
.pure-form-aligned .pure-controls {
	margin: 0;
}
.pure-form input:not([type]):focus,
.pure-form input[type=password]:focus,
.pure-form input[type=email]:focus,
.pure-form textarea:focus {
	border-color: #368DDA;
	outline: 0;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #368DDA;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px #368DDA;
}
.pure-form input:not([type]),
.pure-form input[type=password],
.pure-form input[type=email],
.pure-form-stacked textarea {
	color: #fff;
	background-color: transparent;
	border-color: #368DDA;
	border: 1px solid #368DDA;
	box-shadow: inset 0 0 0 #368DDA;
}
.pure-form input[type=email] {
	padding: .5em .6em;
	display: inline-block;
	border-radius: 4px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box
}
#menu {
	background: black;
}
.mastfoot {
	color: rgba(255,255,255,.5);
	position: relative;
	bottom: 0;
	letter-spacing: 0;
	border-top: 1px solid #368DDA;
	margin-bottom: 2%;
}
.mastfoot .inner {
	font-size: 14px;
	text-align: center;
}
.mastfoot > .inner > p > a:hover {
	color: #368DDA;
}
.mastfoot > .inner > a:hover {
	color: #368DDA;
}
a {
	color: #ccc;
}
.tab-content > .tab-pane {
	display: none;
}
.tab-content > .active {
	display: block;
}
.menu-select {
	margin-left: 6px;
	text-shadow: none; /* Prevent inheritence from `body` */
	background-color: black;
	font-size: 18px;
	border-radius: 6px;
	color: #999;
}
.newEntry {
	margin-bottom: 5%;
	text-align: left;
}
textarea {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	width: 90%;
	max-width: 650px;
}
.alertPopup{
	max-width: 650px;
	display: block;
	margin-left: auto;
	margin-right: auto;
}
.alert {
	position: absolute;
	padding: 15px;
	margin-bottom: 20px;
	border: 1px solid transparent;
	border-radius: 4px;
	text-shadow: 0 0 0;
	text-align: center;
	z-index: 50;
}
.alert h4 {
	margin-top: 0;
	color: inherit;
}
.alert .alert-link {
	font-weight: bold;
}
.alert > p,
.alert > ul {
	margin-bottom: 0;
}
.alert > p + p {
	margin-top: 5px;
}
.alert-dismissable {
	padding-right: 35px;
}
.alert-dismissable .close {
	position: relative;
	top: -2px;
	right: -21px;
	color: inherit;
}
.alert-success {
	color: #3c763d;
	background-color: #dff0d8;
	border-color: #d6e9c6;
}
.alert-success hr {
	border-top-color: #c9e2b3;
}
.alert-success .alert-link {
	color: #2b542c;
}
.alert-info {
	color: #31708f;
	background-color: #d9edf7;
	border-color: #bce8f1;
}
.alert-info hr {
	border-top-color: #a6e1ec;
}
.alert-info .alert-link {
	color: #245269;
}
.alert-warning {
	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
}
.alert-warning hr {
	border-top-color: #f7e1b5;
}
.alert-warning .alert-link {
	color: #66512c;
}
.alert-danger {
	color: #a94442;
	background-color: #f2dede;
	border-color: #ebccd1;
}
.alert-danger hr {
	border-top-color: #e4b9c0;
}
.alert-danger .alert-link {
	color: #843534;
}
.close {
	float: right;
	font-size: 21px;
	font-weight: bold;
	line-height: 1;
	color: #000;
	text-shadow: 0 1px 0 #fff;
	opacity: .2;
}
.close:hover,
.close:focus {
	color: #000;
	text-decoration: none;
	cursor: pointer;
	opacity: .5;
}
button.close {
	-webkit-appearance: none;
	padding: 0;
	cursor: pointer;
	background: transparent;
	border: 0;
}