.name {
	color: violet;
}
.outline-inverse {
	border-color: violet
}

.outline-inverse:hover, .btn-outline-inverse:focus, .btn-outline-inverse:active {
	color: violet;
}
.entry-item {
	border-bottom: 1px solid violet;
}
.entry-item-unread {
	border-left: 6px solid violet;
}
.entryList {
	border-right: 1px solid violet;
}
#menu .pure-menu ul,
#menu .pure-menu .menu-item-divided {
	border-top: 1px solid violet;
}
#menu .pure-menu-selected{
	border-left: 5px solid violet;
}
.pure-menu .pure-menu-heading {
	border-bottom-color: violet;
}
.entry-content-header {
	border-bottom: 1px solid violet;
}
.mastfoot {
	border-top: 1px solid violet;
}
.header {
	border-bottom: 1px solid violet;
}
.mastfoot > .inner > p > a:hover {
	color: violet;
}
.mastfoot > .inner > a:hover {
	color: violet;
}
.pure-form input:not([type]):focus,
.pure-form input[type=password]:focus,
.pure-form-stacked textarea:focus,
.pure-form input[type=search]:focus,
.pure-form input[type=email]:focus {
	border-color: violet;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px violet;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px violet;
}
.pure-form input:not([type]),
.pure-form input[type=password],
.pure-form-stacked textarea,
.pure-form input[type=search],
.pure-form input[type=email] {
	border-color: violet;
}
.icon:hover {
	text-shadow: 0 0 15px violet;
}
.pure-table-horizontal td {
	border-bottom: 1px solid violet;
}
.pure-table {
	border: 1px solid violet;
}
.pure-table-horizontal td,
.pure-table-horizontal th {
	border-bottom: 1px solid violet;
}
.pure-table tbody{
	border-top: 1px solid violet;
}
.pure-table td input {
	border-color: violet;
	border: 1px solid violet;
	box-shadow: inset 0 0 0 violet;
}
.pure-table td input:focus{
	border-color: violet;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px violet;
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px violet;
}